* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #548687;
  text-align: center;
}
.container {
  height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game {
  height: 60vmin;
  width: 60vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5vmin;
}
.box {
  height: 18vmin;
  width: 18vmin;
  border-radius: 1rem;
  border: none;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
  font-size: 8vmin;
  color: #b0413e;
  background-color: #ffffc7;
}
#reset-btn {
  padding: 1rem;
  font-size: 1.2rem;
  border-radius: 1rem;
  border: none;
  background-color: #191913;
  color: #FFF;
}
#play-again {
  padding: 1rem;
  font-size: 1.2rem;
  border-radius: 1rem;
  border: none;
  background-color: #191913;
  color:#ffffc7;
}
.winner-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffc7;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
}
#winner-message {
  font-size: 5vmin;
  color: #191913;
  margin-bottom: 20px;
}
.hide {
  display: none;
}